@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin : 0;
    padding : 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #5C3CAF !important;
}
.swiper-pagination-bullet {
    background: #D8D8D8 !important;
    opacity: 1 !important;
}